p {
  margin-bottom: 0;
  margin-top: 0;
}
.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: 0.5s;
}
.sidebar:hover {
  width: 200px;
}
.card-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px 3px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 2px 8px 3px rgba(204, 204, 204, 0.9);
  border-radius: 5px;
}
.project-list {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-style:hover{
  border-color: var(--primary-color);
  border-width: 10px;
}
.project-list:hover {
  transform: scale(1.05);
  color:var(--secondary-color);
  font-weight: bold;

}
.progress {
  height: 3px;
  background-color: var(--primary-color);
}
.bgProgress {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  animation: progressbar 2s ease-in-out both;
}
.progress-parent {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.menu-list {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-class {
  display: flex;
  height: 10%;
  padding-top: 10px;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: flex-start;
}
.menu-items:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.contact-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 60vh;
  width: 50%;

  -webkit-box-shadow: 5px 5px 10px 2px rgba(184, 184, 184, 0.96);
  box-shadow: 5px 5px 10px 2px rgba(184, 184, 184, 0.96);
}
.project-language{
  color: var(--primary-color);
}
@keyframes progressbar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
